.row{
    margin: 0%;
}
.header{
    margin-top: 1rem;
    margin-bottom: 3.5rem;
}
.text{
    font-style: Italic;
    font-size: 5rem;
    font-weight: 800;
    line-height: 5rem;
    color:#304151;
    letter-spacing: 5px;
}
.subText{
    color: #304151;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 5px;
}

#purpleText{
    color: #9318ff;
}
#yellowText{
    color:#fead1b;
}