<div class="row">
  <div class="col-sm-8 leftContainer">
    <div class="header">
      <img src="../assets/logo.png" alt="logo" />
    </div>
    <div>
      <div class="text">TURN <span id="yellowText">MILES</span></div>
      <div class="text">INTO <span id="purpleText">MONEY</span></div>
      <div class="subText">RIDES ON TAP</div>
      <div class="footer">
        <img
          class="footerImage"
          src="../assets/footerImage1.png"
          alt="footerImage"
        />
      </div>
    </div>
  </div>
  <div class="col-sm-4 rightContainer">
    <router-outlet></router-outlet>
  </div>
</div>
