.footerImage{
    width:100%;
    height: auto;
}
.container{
    position: relative;
    background-color: #fead1b;
    padding-top:2rem;
    left: 0%;
    color: white;
    text-align: center;
}

.validations{
    padding-top: -2%;
}

.boldText{
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium';
}
hr{
    opacity: 1;
    width:15%;
    margin: 0rem auto 1.5rem auto;
    border-top:2px solid;
}
button:disabled{
    cursor: not-allowed;
    background-color: #999;
    border-color: #999;
    opacity: 0.5;
}
input{
    border: 1px solid white;
    border-radius: 5px;
    width: 80%;
    font-size: 16px;
    padding: 5%;
    outline: none;
    margin-bottom: 5%;
    font-family: sans-serif;
}
.container div{
    position: relative;
}
.container label{
    font-size: 20px;
    color:#999;
    padding: 10px 0;
    position: absolute;
    top:3%;
    left:15%;
    pointer-events: none;
    transition: .5s;
}

input:focus ~label,input:valid ~label{
    top: -12px;
    font-size: 12px;
}
button{
    border-radius: 50px;
    width: fit-content;
    padding: 15px 50px;
    background-color: #9318ff;
    outline: none;
    border: 1px solid #9318ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5%;
}
#login{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium';
    text-decoration: underline;
    color: #fff;
    letter-spacing: 2px;
}