<div class="row">
  <div class="col-sm-4 leftbox">
    <span class="title"> Book a Ride </span>
    <span>
      <label class="switch" (click)="redirect()">
        <input type="checkbox" />
        <span class="slider round"></span>
      </label>
    </span>
    <div class="caption">we get you the matches asap !</div>
    <div class="row">
      <form [formGroup]="bookRide" class="col-sm-11 rightcard">
        <div class="inputField"><label for="from">From</label></div>
        <input type="text" formControlName="from" />
        <small
          class="text-danger"
          *ngIf="bookRide.get('from')?.errors?.['required'] && (bookRide.get('from')?.touched)"
          >Required</small
        >
        <div class="inputField"><label for="to">To</label></div>
        <input type="text" formControlName="to" />
        <small
          class="text-danger"
          *ngIf="bookRide.get('to')?.errors?.['required'] && (bookRide.get('to')?.touched)"
          >Required</small
        >
        <div class="inputField"><label for="date">Date</label></div>
        <input
          type="date"
          formControlName="date"
          [min]="min"
          (change)="validateTime()"
        />
        <small
          class="text-danger"
          *ngIf="bookRide.get('date')?.errors?.['required'] && (bookRide.get('date')?.touched )"
          >Required</small
        >
        <div class="inputField"><label for="time">Time</label></div>
        <input type="time" (change)="validateTime()" formControlName="time" />
        <small
          class="text-danger"
          *ngIf="bookRide.get('time')?.errors?.['required'] && (bookRide.get('time')?.touched )"
          >Required</small
        >
        <small
          class="text-danger"
          *ngIf="bookRide.errors?.['InvalidTime'] && (bookRide.get('time')?.touched)"
          ><br />Please select a valid Time</small
        >
        <div class="inputField">
          <label for="availableSeats">Required Seats</label>
        </div>
        <div class="seats">
          <input
            type="radio"
            id="seat1"
            name="seats"
            value="1"
            formControlName="seats"
            checked
          />
          <label for="seat1">1</label>
          <input
            type="radio"
            id="seat2"
            name="seats"
            value="2"
            formControlName="seats"
          />
          <label for="seat2">2</label>
          <input
            type="radio"
            id="seat3"
            name="seats"
            value="3"
            formControlName="seats"
          />
          <label for="seat3">3</label>
        </div>
      </form>
      <div class="col-sm-1 leftcard">
        <li class="startingPoint"></li>
        <li></li>
        <li></li>
        <li class="destinationPoint">
          <i class="fas fa-map-marker-alt i"></i>
        </li>
      </div>
      <div id="submit">
        <button type="submit" (click)="onSubmit()" [disabled]="!bookRide.valid">
          Submit
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-7">
    <div *ngIf="display" id="matches">Your Matches</div>
    <div class="row cards scrollable">
      <ng-container *ngIf="data.length > 0">
        <div
          *ngFor="let i of data"
          class="col-sm-6 box card"
          id="{{ i.rideId }}"
          (click)="bookaRide(i)"
        >
          <div class="name">
            {{ i.rideProviderName | titlecase }}
            <span>
              <img class="userImage" src="{{ i.image }}" alt="profile" />
            </span>
          </div>
          <div class="row">
            <div class="col-sm-7 subTitle">From</div>
            <div class="col-sm-5 subTitle">To</div>
          </div>
          <div class="row">
            <div class="col-sm-4 data">
              {{ request.BoardingPoint | titlecase }}
            </div>
            <div class="col-sm-3 cardPins">
              <li class="cardPin startingPoint"></li>
              <li class="cardPin"></li>
              <li class="cardPin"></li>
              <li class="cardPin"></li>
              <li class="cardPin destinationPoint">
                <i class="fas fa-map-marker-alt i"></i>
              </li>
            </div>
            <div class="col-sm-5 data">
              {{ request.Destination | titlecase }}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-7 subTitle">Date</div>
            <div class="col-sm-5 subTitle">Time</div>
          </div>
          <div class="row">
            <div class="col-sm-7 data">
              {{ i.dateTime.toString().split("T")[0] }}
            </div>
            <div class="col-sm-5 data">
              {{ i.dateTime.toString().split("T")[1] }}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-7 subTitle">Price</div>
            <div class="col-sm-5 subTitle">Seat Availability</div>
          </div>
          <div class="row">
            <div class="col-sm-7 data">&#8377;{{ i.price }}</div>
            <div class="col-sm-5 data">{{ i.availableSeats }}</div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="display && data.length == 0">
        <div class="noMatch">No Matched Rides Available</div>
      </ng-container>
    </div>
  </div>
</div>
<div *ngIf="confirm" class="popup box">
  <div class="title">Book Ride<span id="left"></span></div>
  <div class="message">Do you want to confirm this ride!</div>
  <div class="buttons">
    <button (click)="book()">Yes</button>
    <button (click)="confirm = false">No</button>
  </div>
</div>
